onnxruntime[directml] == 1.19.2 ; python_version < "3.13"
onnxruntime[directml] == 1.20.1 ; python_version >= "3.13"
onnxruntime-directml                                       
pillow == 11.1.0
requests == 2.33.1
